.style
{
    border: black;
    border-radius: 20px;
    background-color:whitesmoke;    
}
.CardBody
{
    justify-content: center;
}
.style-pic
{
    border-color: black;
}
.caro-pic
{
    max-height: 450px;
}
.Card:hover{
    background: blue; /* make this whatever you want */
        
}
.style-body
{
    align-content: center;
}