.App
{
    background-color: rgba(233, 223, 223, 0.788);

}
.App-logo {
    height: 40vmin;
    animation: App-logo-spin infinite 20s linear
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }